extend layout
block content
  p
    | Keffiyeh retro sriracha squid, blog etsy terry richardson fixie 90's chambray 
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx 
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx 
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx 
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx 
  p
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx 
    | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx
    | Keffiyeh retro sriracha squid, blog etsy terry richardson fixie 90's chambray

block sidebar
  .widget
    h1 widget
    p
      | lomo dreamcatcher. DIY actually polaroid, sh
      | usled fingerstache letterpress 3 wolf moon skateboard seitan sw

    p

      | Direct trade williamsburg bespoke kogi church-key, kale chips neutra tonx
      | Keffiyeh retro srirach

